@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
:root{
    --primary-color: #264653;
    --secondary-color: #219ebc;
    --white: #fff;
    --black: #111;
    --bg: #010103;
    --btn: ;
    --box-shadow: 0 10px 10px rgba(0,0,0,.2):
}
section{
    padding: 40px 9%;
}
.btn{
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    letter-spacing: 1.1px;
}
.btn:hover{
    letter-spacing: 1.5px;
}
.btn:active{
    transform: scale(1.05);
}
.btn-primary{
    padding: 7px 30px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}
.btn-primary:hover{
    background-color: transparent;
    color: #111;
}
.btn-secondary{
    padding: 7px 30px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--white);
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}
.btn-secondary:hover{
    background-color: var(--secondary-color);
}
.heading{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.heading::before{
    content: "";
    position: absolute;
    width: 200px;
    background-color: var(--secondary-color);
    height: 5px;
    border-radius: 50px;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}
.heading::after{
    content: "";
    position: absolute;
    width: 50px;
    background-color: var(--secondary-color);
    height: 10px;
    border-radius: 50px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}
/* ==================
Header Section Starts
=============== */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 9%; 
    position: relative;
    z-index: 999;
    background: transparent;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
header .logo i{
    font-size: 30px;
    color: var(--secondary-color);
}
header .navbar{
    z-index: 10000;
    display: flex;
}
header .navbar a{
    padding-top: 20px;
    margin-right: 10px;
    color: #fff;
    z-index: 1100;
}
header .navbar a:hover{
    color: var(--secondary-color);
}
#menu-span{
    display: none;
    margin-right: 20px;
}
#menu{
    position: absolute;
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
    cursor: pointer;
    display: none;
}
/* ==================
Header Section Ends
=============== */

/* ==================
Hero Section Starts
=============== */

.hero{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(IMG/banner.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 0 5%;
    padding-top: 170px;
    padding-bottom: 20px;
}
.hero h2{
    color: #fff;
    font-size: 55px;
}
.hero p{
    max-width: 50%;
    color: #eee;
    margin: 20px 0 30px;
    font-size: 18px;
}

/* ==================
Hero Section Ends
=============== */

/* ==================
Welcome Section Starts
=============== */

.welcome{
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #eee;
}
.welcome .boxContainer{
    margin: 50px 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    place-items: center;
    gap: 10px;
    row-gap: 30px;
}
.welcome .boxContainer .box{
    text-align: center;
    font-size: 20px;
}
.welcome .boxContainer .box i{
    font-size: 40px;
    margin-bottom: 5px;
}
.welcome .boxContainer .ask h3{
    font-size: 27px;
    margin-bottom: 20px;
}
.welcome .boxContainer .ask p{
    font-size: 20px;
}
.welcome .boxContainer .ask a{
    color: var(--secondary-color);
}

/* ==================
Welcome Section Ends
=============== */

/* ==================
Education Section Starts
=============== */

.education{
    width: 100%;
}
.education p{
    color: #777;   
    font-size: 16px;
    max-width: 70%;
    text-align: center;
    margin: 50px auto;
}
.education .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
}
.education .boxContainer .box{
    padding: 20px 40px;
}
.education .boxContainer .box img{
    width: 100%;
    height: 180px;
}
.education .boxContainer .box .title{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}
.education .boxContainer .box p{
    margin: 0 0 20px;
    max-width: 100%;
    text-align: left;
}

/* ==================
Education Section Ends
=============== */

/* ==================
Courses Section Starts
=============== */

.courses{
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(IMG/course.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.courses h2{
    color: #fff;
}
.courses .form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courses .inputs{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto 30px;
    position: relative;
}
.courses .inputs .input{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 20px;
    padding: 15px 10px;
    color: #fff;
    width: 100%;
}
.courses .inputs input::placeholder{
    color: #fff;
}
.courses .inputs .input:focus{
    border-bottom: 2px solid var(--secondary-color);
}
select option{
    background-color: #111;
}
/* ==================
Courses Section Ends
=============== */

/* ==================
Skills Section Starts
=============== */

.skills .row{
    margin: 40px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
}
.skills .row .content{
    flex: 1 1 450px;
}
.skills .row .content h3{
    font-size: 30px;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.skills .row .content p{
    color: #777;
    font-size: 15px;
    margin: 20px 0;
}
.skills .row .image{
    flex: 1 1 450px;
}
.skills .row .image img{
    width: 100%;
    border-radius: 5px;
}

/* ==================
Skills Section Ends
=============== */

/* ==================
Counter Section Starts
=============== */

.counter .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    row-gap: 40px;
}
.counter .boxContainer .box{
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
}
.counter .box p{
    font-size: 28px;
    color: #fff;    
}
.counter .box h3{
    font-size: 32px;
    color: #fff;
}

/* ==================
Counter Section Ends
=============== */

/* ==================
Footer Section Starts
=============== */
.footer{
    margin: 0;
    padding: 0;
}
footer{
    background-color: var(--primary-color);
    padding: 40px 50px;
}
footer .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
    row-gap: 30px;
}
footer .boxContainer .box{
    text-align: center;
}
footer .boxContainer .box i{
    font-size: 40px;
    color: var(--secondary-color);
}
footer .boxContainer .box p{
    font-size: 16px;
    color: #eee;
    margin: 30px 0 20px;
}
footer .boxContainer .box .icons i{
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
}
footer .boxContainer .box .icons i:hover{
    background-color: var(--secondary-color);
}
footer .boxContainer .box .footer-heading{
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
footer .boxContainer .box .footer-link{
    display: block;
    color: #fff;
    margin: 7px 0;
    font-size: 17px;
}
footer .boxContainer .box .address i{
    font-size: 20px;
}
footer .boxContainer .box .address p{
    margin: 10px 0;
}
footer .boxContainer .box .address address{
    color: #ccc;
}
footer .credits{
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 50px;
}
footer .credits p{
    margin: 0;
}
footer .credits p span{
    color: var(--secondary-color);
    text-decoration: underline;
}
/* ==================
Footer Section Ends
=============== */


/* Media Queries */

@media(max-width:1000px){
    header{
        padding: 10px 4%;
    }
}

@media(max-width:840px){
    header .navbar{
        position: fixed;
        flex-direction: column;
        top: 80px;
        left: 0;
        background-color: var(--white);
        padding: 10px 30px;
        width: 300px;
        height: 0;
        opacity: 0;
        transition: .5s;
        box-shadow: 10px -5px 10px rgba(0,0,0,0.7);
        border-radius: 0 5px 0 0;
        visibility: hidden;
    }
    header .navbar a{
        color: var(--black);
    }
    header .navbar.active{
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
    header .navbar.active body{
        background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
    }
    #menu-span,
    #menu{
        display: block;
    }
    .hero p{
        max-width: 100%;
    }
    .hero h2{
        font-size: 40px;
    }
}
@media(max-width:700px){
    .welcome{
        padding-top: 200px;
    }
}
@media(max-width:450px){
    .hero h2{
        font-size: 30px;
    }
    .hero p{
        font-size: 16px;
    }
    .btn{
        font-size: 18px;
    }
    .education .boxContainer .box{
        padding: 20px 0;
    }
}